﻿@model List<N09.Models.MayTinh>
@{
    Layout = "~/Views/Share/Layout.cshtml";
}

<main>
    <div class="page-section features" style="margin: 150px 0px">
        <div class="container">
            <p>
                <a href="~/KhachHang/DanhSach">Danh sách khách hàng version-0.0.6</a>
            </p>            
            
        </div>
    </div>
</main>

