﻿@model IEnumerable<N09.Models.KhachHang>

@{
    ViewBag.Title = "Danhsach";
    Layout = "~/Views/Share/Layout.cshtml";
}



<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>
-->
<div class="container" style="margin:100px 0px">
    <div class="row">
        <div class="col-md-12">
            <p>
                <a href="~/KhachHang/DanhSach">Danh sách khách hàng version-0.0.6</a>
            </p>
            <p>
                <a href="~/KhachHang/ThemMoi">Thêm mới</a>
            </p>

            <table class="table">
                <tr>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.TenKhachHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SoDienThoai)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaChi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.idLoaiKhachHang)
                    </th>

                    <th>

                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKhachHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoDienThoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>                            
                            @{ 
                                N09.Models.testEntities3 db = new N09.Models.testEntities3();
                                var loai = db.LoaiKhachHangs.Find(item.idLoaiKhachHang);
                                if (loai !=null)
                                { 
                                    <span>@loai.TenPhanLoai</span>
                                }                                                             
                            }
                            
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "CapNhat", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID })
                            @Html.ActionLink("Delete", "Xoa", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>


    </div>


</div>
